.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: "Lato" !important;
}
.logo,
.MuiTypography-h6 {
  font-size: 20px !important;
  font-family: "Lato" !important;
  font-weight: 300 !important;
}

.logo {
  font-size: 90px !important;
  font-family: "Lato" !important;
  font-weight: 100 !important;
}

.sublogo {
  font-size: 30px !important;
  font-family: "Lato" !important;
  font-weight: 100 !important;
  padding: 3%;
}

.logoContainer {
  text-align: center !important;
  padding-top: 8%;
}

.MuiSvgIcon-colorSecondary,
.MuiBottomNavigationAction-root svg {
  color: #ef8393 !important;
}

.title {
  font-size: 20px !important;
  /* font-family: "Lora"; */
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.subTitle,
.author,
.description {
  font-family: "Quicksand", sans-serif;
  font-weight: 300 !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #bfdad9 !important;
}

.viewFavContainer {
  text-align: right;
}
